<% if @courier.errors.any? %>
  <div class="alert alert-danger">
    <p><%= pluralize(@courier.errors.count, "error") %> prohibited this courier from being saved:</p>

    <ul>
      <% @courier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-6">
    <%= form_with(model: @courier, local: true) do |form| %>
      <div class='form-group'>
        <%= form.label :name, for: 'input_name' %>
        <%= form.text_field :name, id: 'input_name', class: 'form-control', placeholder: 'Enter name', autofocus: true %>
      </div>

      <div class='form-group'>
        <%= form.label :email, for: 'input_email' %>
        <%= form.text_area :email, id: 'input_email', class: 'form-control', placeholder: 'Enter email' %>
        <small id="email_help" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div>
        <%= form.submit class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
