<h1>Hello couriers!</h1>

<%= link_to 'New', new_courier_path %>

<div class='row'>
  <% @couriers.each do |courier| %>
    <div class='col-3'>
      <div><%= courier.name %></div>
      <div><%= courier.email %></div>
      <%= link_to 'Show', courier_path(courier) %>
      <%= link_to 'Edit', edit_courier_path(courier) %>
      <%= link_to 'Delete', courier, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
